.recipes-link-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.recipes-link {
    color: #D13CA4;
    font-size: 18px;
    text-decoration: none;
    transition: .2s;
}

.recipes-link:hover {
    transform: rotate(5deg) scale(101%); 
}