.search-container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-container__removing {
    display: flex;
    justify-content: center;
    line-height: 33px;
    color: #fff;
    background: #FE3A9E;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 36px;
    font-weight: bold;
    margin-top: 55px;
    margin-left: 10px;
    transition: .8s;
}

.search-container__removing:hover {
    cursor: pointer;
}

.search-container__item {
    margin-top: 55px;
}

.search-container__adding {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #FE3A9E;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 36px;
    font-weight: bold;
    margin-top: 55px;
    transition: .8s;
}

.search-container__adding:hover {
    transform: rotate(360deg);
    cursor: pointer;
}

@media screen and (max-width: 856px){
    .search-container__adding {
        width: 35px;
        height: 35px;
        font-size: 28px;
    }
}
