@keyframes inputAppearance {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes inputDisappearance {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
        display: none;
    }
}


.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.input-wrapper:first-child {
    animation: none;
}

.input-wrapper_showed {
    animation: inputAppearance 1s ease;
}

.input-wrapper_hiden {
    animation: inputDisappearance 1s ease forwards !important;
}

.input-wrapper__button {
    width: 0px;
    height: 40px;
    border: none !important;
    overflow: hidden;
}

.input-wrapper:hover .input-wrapper__button {
    width: 40px;
    border: 2px solid #000 !important;
    margin-left: 20px;
}

.input {
    width: calc(100% - 55px);
    font-family: 'Playfair Display';
    font-weight: 700;
    background: rgba(0,0,0,0.4);
    border: 3px solid #000;
    border-radius: 40px;
    padding: 15px 27px;
    font-size: 20px;
    color: #fff;
    transition: 0.8s;
}

.input:hover {
    background: #000;
}

.input:focus {
    outline: none;
}