body {
    margin: 0;
    padding: 80px 120px;
    background: #eee;
}

.app {
    font-family: 'Yomogi', cursive;
}

@media screen and (max-width: 856px) {
    body {
        padding: 50px 70px;
    }
}

@media screen and (max-width: 400px) {
    body {
        padding: 20px 10px;
    }
}