.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

.modal-wrapper {
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0, 0.5);
}

.modal-wrapper_active {
    display: flex;
}

.modal {
    display: none;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 10px 60px;
    margin: 50px 0;
    width: 40%;
}

.modal_active {
    display: flex;
}

.modal__line {
    font-size: 20px;
    margin-bottom: 10px;
}

.modal__lines-title {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

.modal__img-wrapper {
    width: 80%;
    height: 400px;
}

.modal__img {
    height: 100%;
    width: 100%;
}

.modal-closer {
    left: 78%;
    font-size: 50px;
    font-weight: bold;
}

.modal-closer:hover {
    cursor: pointer;
}